@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/_Layout.cshtml";
}
<h1>Sign Up</h1>
<form method="post">
    <p>Full name:</p>
    <p>
        <input type="text" name="Fullname" />
    </p>
    <p>E-mail:</p>
    <p>
        <input type="text" name="Email" />
    </p>
    <p>Login:</p>
    <p>
        <input type="text" name="Login" />
    </p>
    <p>Password:</p>
    <p>
        <input type="password" name="Password" />
    </p>
    <p>Repeat password:</p>
    <p>
        <input type="password" name="PasswordRepeat" />
    </p>
    <p>
        <button>Sign Up</button>
    </p>
</form>